.odd {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: lightcoral;
}
#second {
    color: blue;
    font-size: 36px;
}
.font-specific-size {
    font-size: 24px;
}
#fourth {
    background-color: lightgreen;
    font-weight: bold;
}