/* default 1, 2 and 4 */
body {
  font: 1.2em / 1.5 sans-serif;
}

/* ======================================================= task 1 */


/* ======================================================= task 2 */


/* ======================================================= task 3 */
/* body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
} */


/* ======================================================= task 4 */
/* body {
  font: 1.2em / 1.5 sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  display: block;
  padding: 0.5em;
}

a {
  border: 5px solid grey;
} */

/* Add styles here */


/* ======================================================= task 5 */